@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

li {
  flex: 1;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #3b3b3b;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
}

.right-links {
  display: flex;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 1;
}

li > a {
  padding: 0.5em;
}
